body{
  font-family: 'Lato', sans-serif;
}

:root{
  --powder: #8FD8D2;
  --peach: #FEDCD2;
  --warm: #DF744A;
  --lemon: #DCB239;
}

footer, nav{
  background-color: var(--peach);
}

header{
  background-image: url("../img/mifoto.jpg");
  background-size: cover;
  height: 500px;
}

h1 hr{
 background-color: white;
}

header{
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #373A3C;
}

.carousel-indicators{
  bottom: -50px;
}


footer a{
  color: black;
}

.trabajos{
  background-color: var(--powder);
}





.shadow{
  font-family: 'Maiden Orange', cursive;
}



.tam25{
 font-size: 25px;
}
